body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333; /* Dark gray text */
}

.form-group {
    text-align: center;
    margin-top: 20px;
}

.form-group input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    width: 20vw;
}

.form-group button {
    padding: 10px 20px;
    background-color: #333; /* Dark gray button */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #333; /* Dark gray text */
}
